.details_container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
    box-sizing: border-box;
}
.details_all{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.details_all img{
    /* width: 60px; */
}
.details_all h2{
    width: 100%;
    text-align: left;
}
.details_all_temp{
    width: 50%;
}
.details_all_temp > p{
    border-bottom: 1px solid rgb(124, 124, 124);
    margin: 0px;
    padding: 12px 0px;
}
.details_main{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 64px;
    width: 50%;
}
@media all and (min-width: 0px) and (max-width: 639px) {
    .details_all{
        flex-direction: column;
    }
    .details_all img{
        width: 140px;
    }
    .details_all_temp{
        width: 100%!important;
    }
    .details_main{
        width:100%;
        gap: 16px;
        margin-bottom: 32px;
    }
    .details_main > div{
        min-width: 50%;
    }
}
@media all and (min-width: 320px) and (max-width: 1023px) {
    .details_all_temp{
        width: 42%;
    }
}