body{
    padding: 0px;
    margin: 0px;
    box-sizing: 0px;
    color: white;
}
.container{
    width: 100vw;
    min-height: 100vh;
    position: relative;
    background-color: rgb(15, 18, 34);
}
.container > video{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-size: cover;
    object-fit: cover;
    z-index: 0;
    opacity: 0.5;
    pointer-events: none;
}
.container_weather_all{
    padding: 40px;
    display: flex;
    gap: 40px;
}
.container_left{
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 75%;
}
.container_right{
    width: 30%;
}
.weather-container{
    background-color: rgba(19, 19, 19, 0.479);
    backdrop-filter: blur(30px);
    position: relative;
    z-index: 2;
    color: black;
    height: 100%;
    padding: 24px 40px;
    border-radius: 2rem;
    color: white;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0px 0px 0px;
}